h1.game-title {
	background-color: rgb(12, 14, 87);
	color: white;
	font-weight: bold;
	padding: 0.75em;
	font-size: 32px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#app {
	font-family: 'Courier New', Courier, monospace;
	width: 100vw;
	height: 100vh;
}

.main-panel {
	display: flex;
	flex-direction: column;
}

.main-content {
	display: grid;
	place-items: center;
}

.card-container {
	--card-grey: #b2b2b2;
	width: 250px;
	height: 350px;
	border: 1px solid var(--card-grey);
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-name {
	font-weight: bold;
	padding: 8px;
	border-bottom: 1px solid var(--card-grey);
	text-align: center;
}

.card-image {
	flex: 1;
	border-bottom: 1px solid var(--card-grey);
	background-color: #ffffff;
opacity: 0.8;
background-image: radial-gradient(circle at center center, #ffffff, #ffffff), repeating-radial-gradient(circle at center center, #f2f2f2, #dadada, 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply;
}



.card-description {
	display: grid;
	place-items: center;
	flex: 1;
	padding: 1em
}