h1.game-title {
	color: rgb(255, 255, 255);
	background-color: #003a50;
	font-weight: bold;
	padding: 0.5em;
	font-size: 32px;
	border-bottom: 4px solid #004057;
}

* {
	--animation-time: 0.5s;
	--standard-blue: #004c67;
	--standard-orange: orangered;
	user-select: none;
}

#app {
	font-family: 'Lexend', sans-serif;
	width: 100vw;
	height: 100vh;
	background-color: var(--standard-blue);
	display: flex;
	flex-direction: column;
}

svg {
	height: calc(var(--card-width) * 110/250);
}

.main-content {
	display: flex;
	flex-direction: column;
	padding: 2em 4em;
	flex: 1;
}

.main-panel {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 2px solid #272727;
	background-color: #272727;
	border-radius: 16px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-panel .nav {
	padding: 0.75em;
	color: white;
	font-size: 18px;
	display: flex;
	gap: 0.5em;
}

.main-panel .nav .nav-divider {
	border-left: 1px solid var(--standard-orange);
}

.collection-view {
	flex: 1;
}

.pile-container {
	display: flex;
	justify-content: center;
	gap: 2em
}

.draw-pile {
	position: relative;
}

.draw-pile .card-back:nth-child(1) {
	position: relative;
	z-index: 2;
}

.draw-pile .card-back:not(:nth-child(1)) {
	position: absolute;
	top: 0;
}

.draw-pile .card-back:nth-child(2) {
	right: 0.5em;
	z-index: 1;
}

.draw-pile .card-back:nth-child(3) {
	right: 1em;
}

.discard-pile {
	position: relative;
}

.discard-pile .card-container:nth-child(1) {
	animation: card-sliding var(--animation-time) ease 0s forwards;
	position: relative;
	z-index: 2;

}

.discard-pile .card-container:not(:nth-child(1)) {
	animation: card-shifting var(--animation-time) ease 0s forwards;
	position: absolute;
	top: 0;
}

.discard-pile .card-container:nth-child(2) {
	left: 0.5em;
	z-index: 1;
}

.discard-pile .card-container:nth-child(3) {
	left: 1em;
	z-index: 0;
	animation: none;
}

.button-wrapper {
	box-shadow: #9a9a9a 0px 5px;
	border-radius: 16px;

}

button.advance {
	padding: 0.5em 1em;
	border-radius: 16px;
	border: 2px solid #dfdfdf;
	color: rgb(78, 78, 78);
	font-weight: bold;
	cursor: pointer;
}

button.advance:hover {
	background-color: white;
}

button.advance:active {
	transform :translateY(5px);
}

.empty-pile {
	width: 250px;
	height: 350px;
	border: 4px solid var(--card-grey);
	background-color: #eee;
	box-shadow: inset 0px 1px 0px 1px grey;
	border-radius: 8px;
	display: grid;
	place-items: center;
	color: #9a9a9a;
}

.hand-group {
	position: relative;
}

.hand-group .empty-pile {
	position: relative;
}

.hand-group .flip-card {
	position: absolute;
	top: 0
}

.round-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	margin: 2px;
	padding: 1em 2em;
	background-color: #fdfdfd;
	border-radius: 14px;
	flex: 1;
}

/* Styles for collection view */

.collection-view {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 2px;
}

.decklist-panel {
	width: 300px;
	background-color: #666;
	border-bottom-left-radius: 14px;
	border-right: 4px solid #272727;
}

.decklist-panel .panel-header {
	padding: 0.5em;
	font-size: 24px;
	color: white;
	background-color: rgb(62, 62, 62);
	border-bottom: 2px solid #272727;
	text-align: center;
	font-weight: bold;
}

.cards-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #eee;
	box-shadow: inset 0px 0px 4px black;
}

.cards-panel .panel-header {
	padding: 0.5em;
	font-size: 40px;
}

.card-grid {
	flex: 1;
	display: flex;
	padding: 1em;
	grid-gap: 1em;
	overflow-y: scroll;
}

/* Deck list detail styling */

.selected-deck-view h2 {
	font-size: 16px;
	color: white;
	background-color: #333;
	padding: 0.25em;
	border-bottom: 2px solid #272727;
	text-align: center;
	font-weight: bold;
	position: relative;
}

.selected-deck-view .back-to-decks {
	position: absolute;
	left: 0.5em;
	background-color: white;
	padding: 0 0.25em;
	color: black;
	border: 1px solid black;
	border-radius: 8px;
	cursor: pointer;
}

.selected-deck-view .back-to-decks:hover {
	filter: brightness(1.1)
}

.selected-deck-view {
	display: flex;
	flex-direction: column;
	background-color: #c2c2c2
}

.card-list-container {
	flex: 1;
	padding: 0.25em;
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
}

.card-list-block {
	border: 1px solid #666;
	border-radius: 4px;
}

.card-list-header {
	padding: 0.5em;
	/* border-bottom: 1px solid black; */
	font-size: 16px;
	background-color: #626262;
	color: white;
	font-weight: bold;
	border-radius: 3px 3px 0px 0px;
}

.card-list-block ul {
	--spacing: 0.3em;
	padding: var(--spacing);
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

.deck-card-count-item {
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	background: rgb(236, 236, 236);
	border: 1px solid #6f6f6f;
	border-radius: 4px;
}

/* Remove card from deck button */
.deck-card-count-item button {
	background: rgb(199, 199, 199);
	border: 1px solid black;
	border-radius: 4px;
}

.deck-card-count-item button:hover {
	filter: brightness(1.1)
}

button.run-deck {
	width: 100%;
	padding: 0.1em;
	font-size: 18px;
	color: white;
	background-color: rgb(46, 46, 46);
	border: 0px;
	border-radius: 4px;
	font-weight: bold;
}

button.run-deck.clickable:hover {
	filter: brightness(1.1);
	transform: scale(1.01);
}

button.run-deck.clickable {
	cursor: pointer;
}

button.run-deck.disabled {
	filter: brightness(0.5);
}

.card-collection-item .card-container {
	position: relative;
	z-index: 1;
	transition: 0.1s transform ease, 0.2s filter;
}

.card-collection-item.clickable .card-container {
	cursor: pointer;
}

.card-collection-item:not(.disabled) .card-container:hover {
	transform: scale(1.02);
}

.card-collection-item.disabled .card-container {
	filter: brightness(0.5);
}

.card-interaction-row {
	display: flex;
	justify-content: flex-start;
	gap: 0.5em;
	padding-left: 1em;
}

.card-interaction-row .amount {
	color: white;
	background-color: #111;
	padding: 0.5em;
	padding-top: 1em;
	position: relative;
	bottom: 0.75em;
	border: 2px solid black;
	border-radius: 8px;
	z-index: 0;
}

.card-interaction-row .add-card {
	color: white;
	background-color: #0e460c;
	padding: 0.5em;
	padding-top: 1em;
	position: relative;
	bottom: 0.75em;
	border: 2px solid black;
	border-radius: 8px;
	z-index: 0;
}

/* Deck Container Styling */

.decks-container {
	display: flex;
	flex-direction: column;
}

.decklist-item {
	padding: 1em;
	border-bottom: 2px solid #333;
	background-color: #c2c2c2;
	transition: all 0.1s;
}

.decklist-item:hover {
	background-color: #333;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.decklist-item:active {
	filter: brightness(0.8);
}

.decks-container .add-new-deck {
	padding: 1em;
	border-radius: 0px;
	border: 0px;
	border-bottom: 2px solid #333;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}