h1.game-title {
	background-color: rgb(83, 177, 196);
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 0.75em;
	font-size: 32px;
	border-bottom: 4px solid rgb(60, 142, 158);
}

* {
	--card-grey: #dfdfdf;
	--animation-time: 0.5s;
	--card-border-color: rgb(20, 20, 20);
	--card-border: 4px solid var(--card-border-color);
}

#app {
	font-family: 'Courier New', Courier, monospace;
	width: 100vw;
	height: 100vh;
}

.main-panel {
	display: flex;
	flex-direction: column;
}

.main-content {
	display: grid;
	place-items: center;
}

.card-container {
	width: 250px;
	height: 350px;
	border: var(--card-border);
	border-radius: 8px;
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
	background-color: var(--card-border-color);
}

.card-background {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #ebebeb;
	background-image:  linear-gradient(#e0e0e0 2px, transparent 2px), linear-gradient(90deg, #e0e0e0 2px, transparent 2px), linear-gradient(#e0e0e0 1px, transparent 1px), linear-gradient(90deg, #e0e0e0 1px, #ebebeb 1px);
	background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	border-radius: 8px;
}

.card-back {
		--s: 8px; /* control the size */
	
		--c:#0000,#ededed .5deg 119.5deg,#0000 120deg;
		--g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
		--g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
		--g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
		background:
			var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
			var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
			var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
			#dfdfdf;
		background-size: calc(2*var(--s)) calc(3.46*var(--s));
		animation: card-shifting var(--animation-time) ease 0s forwards;
}

.card-back:last-child {
	animation: none;
}

.card-name {
	font-weight: bold;
	padding: 8px;
	border-radius: 4px 4px 0 0;
	border-bottom: var(--card-border);
	text-align: center;
	font-size: 18px;
	background: linear-gradient(#fff, #eee);
}

/* use d9 for background  */

.card-description {
	border-radius: 0 0 4px 4px;
	text-shadow: 1px 1px white;
	display: grid;
	place-items: center;
	flex: 1;
	padding: 1em;
}

.card-description .inner {
	border: 4px solid var(--card-border-color);
	border-radius: 4px;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	padding: 0.75em;
	background: linear-gradient(#fff, #e6e6e6)
}

.card-image {
	flex: 1;
	border-bottom: var(--card-border);
	background-color: #ffffff;
}

.pile-container {
	display: flex;
	justify-content: center;
	gap: 2em
}

.draw-pile {
	position: relative;
}

.draw-pile .card-back:nth-child(1) {
	position: relative;
	z-index: 2;
}

.draw-pile .card-back:not(:nth-child(1)) {
	position: absolute;
	top: 0;
}

.draw-pile .card-back:nth-child(2) {
	right: 0.5em;
	z-index: 1;
}

.draw-pile .card-back:nth-child(3) {
	right: 1em;
}

.discard-pile {
	position: relative;
}

.discard-pile .card-container:nth-child(1) {
	animation: card-sliding var(--animation-time) ease 0s forwards;
	position: relative;
	z-index: 2;

}

.discard-pile .card-container:not(:nth-child(1)) {
	animation: card-shifting var(--animation-time) ease 0s forwards;
	position: absolute;
	top: 0;
}

.discard-pile .card-container:nth-child(2) {
	left: 0.5em;
	z-index: 1;
}

.discard-pile .card-container:nth-child(3) {
	left: 1em;
	z-index: 0;
	animation: none;
}

.button-wrapper {
	box-shadow: #9a9a9a 0px 5px;
	border-radius: 16px;

}

button.advance {
	padding: 0.5em 1em;
	border-radius: 16px;
	border: 2px solid #dfdfdf;
	color: rgb(78, 78, 78);
	font-weight: bold;
	cursor: pointer;
}

button.advance:hover {
	background-color: white;
}

button.advance:active {
	transform :translateY(5px);
}

.empty-pile {
	width: 250px;
	height: 350px;
	border: 4px solid var(--card-grey);
	background-color: #eee;
	box-shadow: inset 0px 1px 0px 1px grey;
	border-radius: 8px;
	display: grid;
	place-items: center;
	color: #9a9a9a;
}

.hand-group {
	position: relative;
}

.hand-group .empty-pile {
	position: relative;
}

.hand-group .flip-card {
	position: absolute;
	top: 0
}

.round-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	border: 1px solid rgb(153, 153, 153);
	padding: 1em 2em;
	margin-top: 2em;
	background-color: #fdfdfd;
	border-radius: 8px;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 350px;
  perspective: 3000px;
	border-radius: 8px;
	transform: translateX(calc(-100% - 2em));
	animation: card-sliding var(--animation-time) ease 0s forwards;
	z-index: 3;
}

@keyframes card-sliding {
	from { transform: translateX(calc(-100% - 2em)); }
	to { transform: translateX(0%);}
}

@keyframes card-shifting {
	from { transform: translateX(calc(-0.5em)); }
	to { transform: translateX(0%);}
}

@keyframes card-flipping {
	from { transform: rotateY(-180deg)}
	to { transform: rotateY(0deg)}
}

.flip-card-inner {
	transform: rotateY(-180deg);
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform-style: preserve-3d;
	border-radius: 8px;
	animation: card-flipping var(--animation-time) ease 0s forwards;
}

.flip-card-front, .flip-card-back {
	border-radius: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* Styles for collection view */

.collection-view {
	display: flex;
	width: 100%;
	height: 100%;
}

.decklist-panel {
	border: 1px solid black;
	padding: 2em;
	width: 300px;
	height: 100%;
}

.cards-panel {
	flex: 1
}

.cards-panel .panel-header {
	padding: 0.5em;
	border: 1px solid black;
	font-size: 40px;
}

.card-grid {
	display: grid;
	padding: 1em;
	grid-gap: 1em;
	overflow-x: scroll;
}